*{
	margin:0; padding:0;
	text-decoration:none;
	box-sizing:border-box;
	font-size:calc(18px + 4vw) !important;
	list-style:none;
	text-align:center;
	overflow-x:hidden;
	user-select:none;
    }
body{
    background:black;
    display:block !important;
    font-size:calc(16.2px + 2.8vw + 0.7vmin);
}
nav{
  position:absolute;
  top:0 !important; left:0 !important;
  width:100vw; height:98px;
  background:white;
}
h1{
	position:absolute;
	top:8px; left:8px;
	font-size:calc(18px + 1.47vw);
	color:black;
}

/*Dark Pinkish Color ::>> #bf1a68 */
