/* 231.64 + 105.28 */
@font-face {
	font-family:"Black_Chancery";
	src: url(/Imgs/z.Fonts/BlkChcry.ttf) format("truetype");
    }
@font-face {
	font-family:"Abassy";
	src: url(/Imgs/z.Fonts/AbbasyCalligraphy.ttf) format("truetype");
    }
*{
 margin:0; padding:0;
 text-decoration:none;
 box-sizing:border-box;
 font-size:calc(17.2px + 0.7vw) !important;
 text-align:center;
 overflow-x:hidden;
 user-select:none;
 list-style:none;
 }
body{
    background:black;
    display:block !important;
    font-size:calc(16.2px + 0.4vw + 0.2vmin);
    }
/* ::>> Change the Layout of this to be display:grid? flex? */
	nav{
	  position:absolute;
	  top:0 !important; left:0;
	  width:100vw; height:calc(98.8px + 0.85vh + 0.12vmax);
	  border-bottom:2.8px solid #bf1a68;
	  margin-bottom:18px;
	  background:#2e2e2e;
	  overflow:hidden !important;
	  min-width:100%;
	  word-wrap:none;
	  }
.blob{
	position:absolute;
	top:8px; left:8px;
	width:22px; height:22px;
	background:springgreen;
	border-radius:50%;
	filter:blur(7.4px);
	z-index:500;
    }
.blob::before{
	content:"";
	display:block;
	position:relative;
	width:24px; height:24px;
	background:black;
	}
h1{
	position:absolute;
	top:0.2px; left:calc(8.8px + 0.85vw);
	font-family:"Black_Chancery", Verdana, Tahoma;
	font-size:calc(22.95px + 2.28vw) !important;
	transition:all 980ms ease-in-out 8ms;
	filter:blur(0.54px) hue-rotate(0deg);
	text-rendering: geometricPrecision;
        -webkit-backface-visibility:hidden;
	    -webkit-font-smoothing:antialiased;
	background:linear-gradient(-33deg,#bf1a68,#bf1a68,
		                    rgb(229, 235, 52),
		                    rgb(11, 143, 130));
	        background-clip:text;
	-webkit-background-clip:text;
	/* transform: scaleX(1) translateX(0); */
	z-index:205 !important;
	padding:.8px 4.8px 34.8px .2px;
	color:transparent;
	will-change:auto;
    }
h1:hover{
	transition:all 980ms ease-in-out 8ms;
	filter:blur(0.82px) hue-rotate(-227deg);
	text-shadow: 0.8px 27.4px 2.4px rgba(18,239,255,1);
	/* transform: scaleX(1.22) translateX(32px);
	font-size:calc(27.95px + 2.295vw) !important; pointer-events: none;*/
	font-smoothing:antialiased;
    will-change:auto;
	}
h2{
	position:absolute;
	left:29.8px; top:calc(57px + 0.28vh);
	font-family:"Black_Chancery", Verdana, Tahoma;
	font-size:calc(38.44px + 0.08vmax) !important;
	background:radial-gradient(circle at 60%,
		                  rgba(18,239,255,1),
		                  rgba(18,239,255,1),
		             #bf1a68,#bf1a68,#bf1a68,
		                   rgba(50,168,82,1),
		                  rgba(204,145,16,1),
		                  rgba(7,176,159,1));
	background-clip:text; -webkit-background-clip:text;
	font-weight:850;
	color:transparent;
	z-index:5;
    }
.h2italic{
	position:relative;
	left:134px;
    }
h3{
	position:absolute;
	left:42.8px; top:calc(64.98px + 0.28vh);
	font-family:"Black_Chancery", Verdana, Tahoma;
	font-size:calc(16.44px + 0.28vmax) !important;
	background:linear-gradient(-33deg,
		                  black,orange,yellow,orange,black);
	background-clip:text; -webkit-background-clip:text;
	font-weight:750;
	color:transparent;
	z-index:6;
    }
nav ul{
	position:absolute;
	top:0px; right:0px;
	max-width:74vw;
	margin-right:calc(18px + 0.4vw);
	margin-top:0.1vh;
	}
nav ul li{
	display:inline-block !important;
	}
nav ul li a{
	position:relative;
	display:inline-block;
	font-family:"Abassy", Verdana, Tahoma;
	font-size:calc(19.8px + 0.88vmax + 0.44vw)!important;
    background:linear-gradient(240deg, rgb(18,239,255), #bf1a68, #bf1a68);
	text-shadow: -4px -8px 8.5px rgba(18,239,255,1);
	transition:transform 880ms ease-in-out;
	      -webkit-text-stroke:0.94px black;
          -webkit-background-clip:text;
	padding:0 8.8px 0 8.8px; /* 2.8px 2.8px 1.2px black, */
    background-clip:text;
    filter:blur(0.54px);
    color:transparent;
	width:auto;
    }
nav ul li a:hover{
	transition:transform 880ms ease-in-out;
	transform:scale(1.2);
	will-change:auto;
    }
.help_png{
	float:right;
	transform-origin: bottom right 60px;
	transform:scale(1.12) translate(-33px, 12px);
	filter:blur(0.32px) hue-rotate(0deg);
	transition:all 648ms ease-out;
    }
.help_png:hover{
	transform-origin: bottom right 60px;
	transform:scale(1.123) translate(-33px, 12px); /* Temp removing the rotate ::>> rotateZ(0deg)  rotateZ(42deg)*/
	filter:blur(0.27px) hue-rotate(-47deg);
	transition:all 648ms ease-out;
    }

.face_group{
	position:absolute;
	top:62px; right:calc(18.8px + 0.25vw)!important;
	z-index:55;
    }
/* ::>> Kofi Donate Button & Container */
.btn-container{
	position:absolute;
	left:8px !important;
	top:748px;
    }
/* ::>> Kofi Donate Button & Container */

.intial_top_animation{
	position:absolute;
	top:calc(118px + .85vh + .45vmax); left:8px;
	background:url("/Imgs/Jpgs/snow-covered-trees-and-moon.jpg");
	width:calc(298.8px + 27.788vh + 2.48vmax);
	transition:all 888ms ease-in-out;
	filter:blur(19.33px) opacity(0.99);
	height:calc(248px + 2.2vh);
	background-size:cover;
	border-radius:28px;
	}
.intial_top_animation:hover{
	filter:blur(0.24px) opacity(0.78);
	transform:scale(1.2) translate(12px, 12px);
	transition:all 880ms ease-in-out;
	/* box-shadow: 0 0 14px 12px #324963; */
	}
/* ::>> ... Revolver Maps Section > Hide the Scroll Bar ... ... ... ... */
			#Rev-maps{
				position:absolute;
				top:114px; right:18px;
				width:calc(342px + 0.5vw + 0.2vmax);
			    height:calc(348px + 0.4vh + 0.2vmin);
			    /* filter:opacity(0); Gsap works via inline styles Thiswas over-riding that. */
				border-radius:18px;
				border-bottom-left-radius: 2.8px;
				background:linear-gradient(145deg,transparent,
					                        black,transparent,#bf1a68,
					                           skyblue,yellow,springgreen);
				overflow: hidden !important;
				border:solid 4px black;
				padding-bottom:48px;
				filter:hue-rotate(0deg);
				transition:filter 840ms ease-in-out;
				box-shadow: inset 0 0 2.25px -.8px black,
				                 0 0 .05px 1.2px black,
				               inset 0 0 .15px 0 black;
			    }
			#Rev-maps:hover{
				filter:hue-rotate(-78deg);
				transition:filter 840ms ease-in-out;
			}
			#Rev-maps > div > div{
				overflow:hidden !important;
			    }
/* ::>> ... Revolver Maps Section > Hide the Scroll Bar ... ... ... ... */


.video_embeds{
	position:relative; left:8px;
	width:78vw;
	margin-top:calc(288.8px + 8.77vh + 2.7vmin);
	display:grid;
	grid-template-areas: ;
    }


/* List stock imgs used ::>> https://www.pikrepo.com/fjpww/snow-covered-trees-and-moon*/

.opensource_project_linx{
	position:absolute;
	top:880px;
}







/* ::>> ... Web Radio Section > Give option 1Xtra or Reggae Stations ... ... */
	.embed-radioplayer{
		position:absolute;
		right:0 !important;
		z-index:55;
		max-width:calc(484px + 0.8vw);
		margin-top:4.8vh;
		transform:scale(0.54);
		height:auto;
	    }
	.audioplayer-time{
		transform:scale(0.77);
	    }
	.logo{
		overflow:hidden !important;
		filter:hue-rotate(188deg);
		border-radius:59.2%;
	    }

/* ::>> ... Web Radio Section > Give option 1Xtra or Reggae Stations ... ... */

iframe{
	border-top-left-radius:28px;
	border-bottom-right-radius:28.8px;
	margin:4px;
    }

/*Dark Pinkish Color ::>> #bf1a68 */



/* ::>> ... DeviantArt Group Section... ... ... ... ... ... ... ... ... */
	#DevArt_Group_Page{
		position:absolute;
		top:134px; left:18px;
		filter:opacity(0.2);
		width:auto; height:calc(240px + 18.2vh);
		background:linear-gradient(-48deg,green,blue);
		z-index:10;
	    }
	    .Dev_iFrame{
	      	overflow-x: hidden !important;
             -ms-zoom: 0.72;
             -moz-transform:scale(0.72);
             -moz-transform-origin: 0 0;
             -o-transform: scale(0.72);
             -o-transform-origin: 0 0;
             -webkit-transform: scale(0.72);
             -webkit-transform-origin: 0 0;
              border-radius:none !important;
	          }
/* ::>> ... DeviantArt Group Section... ... ... ... ... ... ... ... ... */



footer{
	display:grid;
	position:absolute;
	bottom:0 !important;
	width:100vw; height:128px;
	background:grey;

}
